.routeEingabe{
    height: 500px;
    width: 500px;
    background-color: yellow;
    display: inline;
    color: aquamarine;
}

.buttons{
    display:inline;
}

.feld{
    display: inline;
}

.inputFeld{
    width: 500px;
    height: 500px;
}